<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;">Welcome To Aysha clinic</h5>
                <h1 class="display-1 text-white mb-md-4">Best Healthcare Solution In Your City</h1>
                <div class="pt-2">
                    <a href="/team" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Find Doctor</a>
                    <a href="/appointment"
                        class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2 text-primary">Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                    <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                </div>
                <p>At Aysha Clinic, we are committed to providing compassionate and comprehensive healthcare
                    services. Our experienced medical team is dedicated to ensuring the well-being of every patient,
                    offering personalized care in a welcoming environment. Your health and comfort are our top
                    priorities.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <!-- <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                                <h6 class="mb-0">24X7<small class="d-block text-primary">Ambulance</small></h6>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
            <h1 class="display-4">Excellent Medical Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-primary"></i>
                    </div>
                    <h4 class="mb-3">Emergency Care</h4>
                    <p class="m-0">"Expert emergency care with fast response, top-notch medical team, and advanced
                        treatment for critical situations."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="/service">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-procedures text-primary"></i>
                    </div>
                    <h4 class="mb-3"> Minor Operation & Surgery</h4>
                    <p class="m-0">"State-of-the-art minor operation facility with skilled surgeons, advanced
                        equipment, and quick, safe procedures."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-primary"></i>
                    </div>
                    <h4 class="mb-3">Home checkup</h4>
                    <p class="m-0">"Convenient outdoor checkups with expert care, minimal wait times, and
                        personalized medical attention."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-heart text-primary"></i>
                    </div>
                    <h4 class="mb-3">ECG</h4>
                    <p class="m-0">"Accurate ECG testing with advanced technology, quick results, and expert
                        analysis for heart health monitoring."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-primary"></i>
                    </div>
                    <h4 class="mb-3">Medicine & Pharmacy</h4>
                    <p class="m-0">"Comprehensive medicine and pharmacy services, including veterinary care,
                        ensuring health for people and pets alike."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-primary"></i>
                    </div>
                    <h4 class="mb-3"> Fully Computerised Lab & Diagnostics </h4>
                    <p class="m-0">"Advanced computerized lab with precise diagnostics, fast results, and
                        cutting-edge technology for accurate healthcare."</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Appointment Start -->
<div class="container-fluid bg-light my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Available Doctors</h1>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-primary">Docter name</th>
                                    <th class="text-uppercase text-primary">Department</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {{#each docter}}
                                <tr>
                                    <th>{{this.Docter_Name}}</th>
                                    <th>{{this.Department_Name}}</th>                            
                                </tr>
                                {{/each}}

                                  {{#each team}}
                                <tr>
                                    <th>{{this.Docter_Name}}</th>
                                    <th>{{this.Department_Name}}</th>                            
                                </tr>
                                {{/each}}
                         </tbody>
                        </table>
                    </div>
                </div>


  

            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Book An Appointment</h1>



                    {{#if docterConfirm}}
                    <div class="row">
                        <div class="col-12 col-sm-12 mt-3">

                            <form action="/docterdelete" method="post">

                                <input class="btn btn-primary" style="border: 1px; width: 100%; "
                                    value="Dr. {{docterName}}" type="submit">
                            </form>
                            {{!-- <p class="text-danger text-right">You Already Selected The Docter</p> --}}
                        </div>
                    </div>

                    <br>

                    <form action="/appointment" method="post" id="booking">
                        <div class="row g-3">

                            <div class="col-12 col-sm-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name"
                                    style="height: 55px;" name="Name" required>
                            </div>

                            <input type="text" name="DocterName" value="{{docterName}}" hidden>

                            <div class="col-12 col-sm-6">


                                <select class="form-select bg-white border-0" name="Gender"
                                    style="height: 55px; border: 1px;" required>

                                    <option value=""> Select The Gender</option>
                                    <option value="Male"> Male</option>
                                    <option value="Female"> Female</option>
                                    <option value="Others"> Other Gender</option>

                                </select>

                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="Phone_Number" id="Phone_Number" data-target-input="nearest">
                                    <input type="text" name="Phone_Number" class="form-control bg-white border-0"
                                        placeholder="Phone Number" style="height: 55px;" min="" required>

                                    <input type="text" name="status" value="PENDING" hidden>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">

                                <input type="text" class="form-control bg-white border-0" id="datepickermain"
                                    placeholder="Booking Date" name="Booking_Date" autocomplete="off" required>
                            </div>

                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control bg-white border-0" placeholder="Age"
                                    style="height: 55px;" name="Age" max="120" required>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                            </div>
                        </div>
                    </form>

                    {{else}}
                    <form action="/docterconfirm" method="post" id="DocterConfirm">
                        <div class="row">
                            <div class="col-12 col-sm-12 mt-3">
                                <select id="doctor" class="form-select bg-white border-0" name="DocterName"
                                    style="height: 55px; border: 1px;" onchange="submitForm()">

                                    <option value="">Select The Docter</option>
                                    {{#each docter}}
                                    <option value="{{this.Docter_Name}}"> {{this.Docter_Name}}
                                    </option>
                                    {{/each}}

                                     {{#each team}}
                                    <option value="{{this.Docter_Name}}"> {{this.Docter_Name}}
                                    </option>
                                    {{/each}}

                                </select>
                                {{!-- <p class="text-danger text-right">First Select The Docter*</p> --}}
                            </div>
                        </div>
                    </form>

                    <br>
                    <form action="/appointment" method="post" id="booking">
                        <div class="row g-3">

                            <div class="col-12 col-sm-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name"
                                    style="height: 55px;" name="Name" disabled>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Gender"
                                    style="height: 55px;" name="Gender" disabled>

                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="Phone_Number" id="Phone_Number" data-target-input="nearest">
                                    <input type="text" name="Phone_Number" class="form-control bg-white border-0"
                                        placeholder="Phone Number" style="height: 55px;" min="" disabled>

                                    <input type="text" name="status" value="PENDING" hidden>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input style="height: 55px;"
                                        class="form-control bg-white border-0 datetimepicker-input" placeholder="Date"
                                        type="date" name="Booking_Date" min="{{today}}" disabled>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control bg-white border-0" placeholder="Age"
                                    style="height: 55px;" name="Age" max="120" disabled>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" disabled>Make An
                                    Appointment</button>
                            </div>
                        </div>
                    </form>
                    {{/if}}


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->


<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our facility</h5>
            <h1 class="display-4">gallery</h1>
        </div>
        <div class="carousel slide" id="carouselDemo" data-bs-wrap="true" data-bs-ride="carousel">

            <div class="carousel-inner" style="object-fit: cover;">

                <div class="carousel-item active ">
                    <img src="/img/gallery/img-1.webp" class="w-100 ">

                </div>

                <div class="carousel-item " data-bs-interval="2000">
                    <img src="/img/gallery/img-3.webp" class="w-100">

                </div>

                <div class="carousel-item ">
                    <img src="/img/gallery/img-2.webp" class="w-100">

                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDemo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselDemo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>



        </div>


    </div>
</div>
<!-- Pricing Plan End -->




<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
            <h1 class="display-4">Qualified Healthcare Professionals</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            {{#each team}}
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/docter-images/{{this._id}}.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>DR {{this.Docter_Name}} </h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">{{this.Stime}} - {{this.Etime}} - {{this.Docter_Available}}</h6>
                            <p class="m-0">{{this.Qualifications}} ({{this.Department_Name}})</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="https://wa.me/91{{this.Phone_Number}}?text=hello,%20Aysha%20clinic
                                "><i class="fab fa-whatsapp"></i></a>

                        </div>
                    </div>
                </div>
            </div>

         {{/each}}
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
            <h1 class="display-4">Patients Say About Our Services</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="/img/pic-3.jpeg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">I visited Aysha Clinic for fever treatment and had a great
                            experience. The staff was friendly, and the doctor provided excellent care. I felt well
                            taken care of, and the clinic was clean and welcoming.</p>
                        <hr class="w-25 mx-auto">
                        <h3>Jishnu vs</h3>
                        <h6 class="fw-normal text-primary mb-3">Software developer</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="/img/pic-1.jpeg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Best clinic in Balussery. Good Doctors and facilities.</p>
                        <hr class="w-25 mx-auto">
                        <h3>Kritheesh</h3>
                        <h6 class="fw-normal text-primary mb-3">marketing manager</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="/img/testimonial-3.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">I recently visited Aysha Clinic in Vattoli Bazar, and had a great
                            experience.
                            The staff was friendly, the clinic was well-maintained, and the service was professional.
                            Highly recommend for anyone seeking quality healthcare in the area!</p>
                        <hr class="w-25 mx-auto">
                        <h3>Ijaz Muhammed</h3>
                        <h6 class="fw-normal text-primary mb-3">Patient</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm() {
        document.getElementById("DocterConfirm").submit();
    }
</script>

<script>
    $(function () {
        // Doctor's available days as returned from the database, e.g., " Mondays,Tuesdays,Wednesdays,Saturdays "
        var availableDays = "{{date}}".replace(/\s/g, ""); // Remove spaces

        // Split the days by commas into an array
        availableDays = availableDays.split(",");

        // Map day names to indexes
        var availableDayIndexes = availableDays.map(function (day) {
            switch (day) {
                case "Sundays": return 0;
                case "Mondays": return 1;
                case "Tuesdays": return 2;
                case "Wednesdays": return 3;
                case "Thursdays": return 4;
                case "Fridays": return 5;
                case "Saturdays": return 6;
                default: return -1; // Handle unexpected values
            }
        }).filter(index => index !== -1); // Remove invalid indexes

        // Function to disable unavailable days and past days
        function disableUnavailableDays(date) {
            var day = date.getDay(); // Get the day (0 = Sunday, 6 = Saturday)
            var currentDate = new Date(); // Get today's date

            // Check if the date is in the past
            if (date < currentDate.setHours(0, 0, 0, 0)) {
                return [false]; // Disable past dates
            }

            // Enable only available days (from availableDayIndexes)
            return [availableDayIndexes.indexOf(day) !== -1];
        }
        // Initialize the date picker
        $("#datepickermain").datepicker({
            beforeShowDay: disableUnavailableDays,
            dateFormat: 'mm/dd/yy'
        });
    });
</script>

<script>

    $("#DocterConfirm").submit((e) => {

        e.preventDefault();
        $.ajax({

            url: '/docterconfirm',
            method: 'post', '
            data: $('#DocterConfirm').serialize(),
            success: (response) => {
                // alert(response)
                if (response.status) {
                    location.reload()

                } else {
                    location.reload()
                }
            }
        });
    });


</script>