

  <!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
            <h1 class="display-4">Qualified Healthcare Professionals</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            {{#each team}}
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/docter-images/{{this._id}}.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>DR {{this.Docter_Name}} </h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">{{this.Stime}} - {{this.Etime}} - {{this.Docter_Available}}</h6>
                            <p class="m-0">{{this.Qualifications}} ({{this.Department_Name}})</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="https://wa.me/91{{this.Phone_Number}}?text=hello,%20Aysha%20clinic
                                "><i class="fab fa-whatsapp"></i></a>

                        </div>
                    </div>
                </div>
            </div>

         {{/each}}
        </div>
    </div>
</div>
<!-- Team End -->
